$bg-green: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

.Station{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    .eachStation{
        height: 500px;
        width: 200px;
        background-color: grey;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        border-radius: 10px;
        background-image: var(--color,$bg-green);
        box-shadow:  20px 20px 60px #d9d9d9, 
             -20px -20px 60px #ffffff;
        > p{
            border-radius: .4em;
            padding: .7em;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);  
            margin: .3em 0;
        }
        > button{
            margin: 5em 0;
            height: 3em;
            border: none;
            border-radius: 3em;
            background-color: white;
            outline: 0;
            transition: transform .2s;
            will-change: transform;
            box-shadow: 0 14px 25px rgba(0, 0, 0, 0.123), 0 10px 10px rgba(0,0,0,0.012);
            span{
                font-size: 1.3em;
                font-weight: bold;
                background-image: var(--color,$bg-green);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:active{
                box-shadow: none;
                transform: scale(.9);
            }
        }  
    }
    .green{
        --color: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }
    .yellow{
        --color: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }
    .red{
        --color: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    }
    .zero{
        background-color: #87DCC0;
    }
    .one{
        background-color: #88BBE4;
    }
}